footer{
    grid-area: footer;
    width: 100vw;
    height: 80px;
    background: rgb(58, 71, 105);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerCopy{
    color: #f3f3f3;
    font-size: 0.7em;
}