#sct3{
    grid-area: sct3;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: row;
}

#sct3 #img3{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sct3 #txt3{
    width: 50%;
    height: 100%;
}
