#sct2{
    grid-area: sct2;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: row;
}

#txt2{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-right: 80px;
}

#txt2 h2{
    margin-left: 25%;
}

#txt2 p{
    margin-left: 25%;
    text-align: justify;
}

#img2{
    width: 50%;
    height: 80%;
    display: flex;
}